@media (min-width: 1025px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 820px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
