.logo {
  padding: 5px;
}

.small {
  width: 60px;
  height: 40px;
}

@media (min-width: 1025px) {
  .logo {
    padding: 10px;
  }

  .small {
    width: 130px;
    height: 80px;
  }

  .medium {
    width: 200px;
    height: 120px;
  }
}
