.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 40px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.history p {
  font-size: 17px;
  line-height: 1.4;
}

.skills {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1025px) {
  .about {
    padding: 0;
  }

  .history {
    flex: 1;
  }

  .skills {
    flex-direction: column;
  }

  .skill-description {
    flex-direction: row;
  }
}
