header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 30px;
  background-color: var(--black);
  z-index: 9999;
}

header a {
  cursor: pointer;
}

@media (min-width: 1025px) {
  header {
    padding: 0px 50px;
  }
}
