.desktop {
  display: none;
}

@media (min-width: 1025px) {
  .desktop {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--white);
  }

  nav ul li {
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease-in-out;
  }

  nav a:hover {
    color: var(--dark-green);
  }
}
